<div class="configurator-container">
  <div class="options-container">
    <div class="configurator-option" (click)="movePanel($event)">Halbtax</div>
    <div class="configurator-option" (click)="movePanel($event)">Tesla</div>
    <div class="configurator-option" (click)="movePanel($event)">Bike</div>
    <div class="configurator-option" (click)="movePanel($event)">Wallbox</div>
    <div class="configurator-option" (click)="movePanel($event)">Taxi</div>
    <div class="configurator-option" (click)="movePanel($event)">Parking</div>
    <div class="configurator-option" (click)="movePanel($event)">12 months</div>
  </div>
  <div class="moving-panel" id="moving-panel">I'm moving</div>
</div>
